@import "transition-style";
@import "https://unpkg.com/transition-style";

/* Animación personalizada */
@keyframes in-circle-swoop {
  from {
    clip-path: var(--circle-top-right-out);
  }
  to {
    clip-path: var(--circle-bottom-right-in);
  }
}

@keyframes out-circle-swoop {
  from {
    clip-path: var(--circle-bottom-right-in);
  }
  to {
    clip-path: var(--circle-top-right-out);
  }
}

.transition-on {
  --transition__duration: 2s;
  animation: in-circle-swoop 2s forwards;
  clip-path: var(--circle-bottom-right-in);
}

.transition-off {
  animation: out-circle-swoop 2s forwards;
  clip-path: var(--circle-top-right-out);
}



[transition-style="in:custom:circle-swoop"] {
  --transition__duration: 5s;
  animation-name: in-circle-swoop;
}

div {
  width: 100%;
  background: hsl(200 50% 80%);
  padding: 2ch;
  display: grid;
  place-content: center;
}

h1 {
  font-size: 15vmin;
  font-weight: lighter;
    margin: 0 0 20px 0;
}

a {
  color: deeppink;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  text-align: end;
  font-family: system-ui;
}
