@import "transition-style";
@import "https://unpkg.com/transition-style";

/* =================== FONDOS Y CUERPO =================== */

body {
  margin: 0;
  background-color: rgb(31, 116, 212); /* azul oscuro */
  font-family: system-ui;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* =================== CONTENIDO SIEMPRE VISIBLE =================== */

#contenido {
position: relative;
  z-index: 2;
  display: grid;
  place-content: center;
  height: 100vh;
  padding: 2ch;
  color: deeppink; /* base rosado */
  mix-blend-mode: difference;
  text-align: center;
}


/* =================== CÍRCULO ANIMADO =================== */

#pantalla {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: hsl(200 50% 80%); /* celeste */
  pointer-events: none;
  clip-path: var(--circle-top-right-out);
}

/* =================== ANIMACIONES =================== */

@keyframes in-circle-swoop {
  from {
    clip-path: var(--circle-top-right-out);
  }
  to {
    clip-path: var(--circle-bottom-right-in);
  }
}

@keyframes out-circle-swoop {
  from {
    clip-path: var(--circle-bottom-right-in);
  }
  to {
    clip-path: var(--circle-top-right-out);
  }
}

.transition-on {
  --transition__duration: 2s;
  animation: in-circle-swoop 2s forwards;
}

.transition-off {
  animation: out-circle-swoop 2s forwards;
}


h1 {
  font-size: 15vmin;
  font-weight: lighter;
    margin: 0 0 20px 0;
}

a {
  color: deeppink;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

/* Cuando el círculo se expande, se desplaza el fondo del texto */
.transition-on + #contenido {
  background-position: right;
}

/* Cuando el círculo se retrae, vuelve a la izquierda */
.transition-off + #contenido {
  background-position: left;
}